[package]
name = "isomdl"
version = "0.1.0"
edition = "2021"
description = "ISO mDL implementation in Rust"
readme = "README.md"
homepage = "https://github.com/spruceid/isomdl"
repository = "https://github.com/spruceid/isomdl"
license = "Apache-2.0"

[dependencies]
anyhow = "1.0"
ecdsa = { version = "0.14.4", features = ["serde"] }
p256 = { version = "0.11.1", features = ["serde", "ecdh"] }
p384 = { version = "0.11.2", features = ["serde", "ecdh"] }
rand_core = { version = "0.6.3", features = ["getrandom"] }
openssl = "0.10.41"
rand = "0.8.5"
serde = { version = "1.0", features = ["derive"] }
serde_cbor = { version = "0.11.2", features = ["tags"] }
serde_json = "1.0"
sha2 = "0.10.5"
thiserror = "1.0"
elliptic-curve = "0.12.3"
time = { version = "0.3.14", features = ["formatting", "parsing"] }
zeroize = { version = "1.4", features = ["zeroize_derive"] }
signature = "1.6"

[dependencies.cose-rs]
git = "ssh://git@github.com/spruceid/cose-rs.git"

[dev-dependencies]
hex = "0.4.3"
p256 = "0.11.1"
