name: ci

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - uses: webfactory/ssh-agent@v0.6.0
      with:
        ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

    - name: Build
      run: cargo build

    - name: Run tests
      run: cargo test

    - name: Clippy
      run: RUSTFLAGS="-Dwarnings" cargo clippy

    - name: Fmt
      run: cargo fmt -- --check
